* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


body{
    display: grid;
    place-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url(hacker\ gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
h1{
    padding: 5px;
    background-color: black;
    border: 3px solid white;
    border-radius: 5px;
}